* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 30%;
    margin-bottom: 20px;
}

a{
    color: black;
    text-align: center;
    justify-content: center;
    display: flex;
    font-weight: bold;
}
